body {
  background-color: black;
}

h1, .lead {
  color: white;
}

#roll1 {
  display: none;

}
#over {
  border: 2px solid #E1E3E2;
  border-radius: 7px;
  width: 500px;
  margin: 0 auto;
  background-color: black;
  font-size: 70px;
  color: #ffffff;
  display: none;
}

#newGame {
  border: 2px solid #E1E3E2;
  border-radius: 7px;
  width: 500px;
  margin: 0 auto;
  background-color: black;
  font-size: 70px;
  color: #ffffff;
  display: none;
  text-decoration: none;
}
a {
  text-decoration: none;
}

.container {
  text-align: center;
  font-family: sans-serif;

}

#player1 {
  border: 2px solid #83F2D1;
  border-radius: 7px;
  width: 500px;
  margin: 0 auto;
  background-color: #ADF7E1;
  margin-top: 30px;
  padding-bottom: 20px;


}

#turn, #turn1 {
  display: none;
}


#player2 {
  border: 2px solid #BAC2BF;
  border-radius: 7px;
  width: 500px;
  margin: 0 auto;
  margin-top: 30px;
  background-color: #E1E3E2;
  padding-bottom: 20px;
}

button{
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #119e8e), color-stop(1, #119e8e) );
  background:-moz-linear-gradient( center top, #119e8e 5%, #119e8e 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#119e8e', endColorstr='#119e8e');
  background-color:#119e8e;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:2px solid #119e8e;
  display:inline-block;
  color:#dbdbdb;
  font-family:arial;
  font-size:47px;
  font-weight:bold;
  padding:4px 23px;
  text-decoration:none;
  text-shadow:0px 0px 0px #ffffff;
}.button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #119e8e), color-stop(1, #119e8e) );
  background:-moz-linear-gradient( center top, #119e8e 5%, #119e8e 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#119e8e', endColorstr='#119e8e');
  background-color:#119e8e;
}.button:active {
  position:relative;
  top:1px;
}


.rollnumber {
  font-size: 60px;
  color: #E01B5D;
}

#game, #controls {
 font-size: 40px;
 color: #E01B5D;

}
}