form input[type='number']::-webkit-outer-spin-button,
form input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

form {
	margin-top: 26%;
	margin-left: 18%;
}

body {
	background-color: #CBD1D0;
	font-family: 'Josefin Sans', sans-serif;
}

p {
	font-size: 50px;
}

span#answer {
	margin-left: 37%;
	font-size: 90px;
	position: relative;
	top: 30px;
	color: #5A991A;
}
